<% _.each( questions, function (question) { %>
<div class="panel <% if (question.is_answered) { %>panel-success<% } else { %>panel-danger<% } %>">
        <h3 class="panel-title">
            <span class="pull-right">
                <span class="label label-info">
                    Views: <%= question.view_count %>
                </span>
                <span class="label label-success">
                    Answers: <%= question.answer_count %>
                </span>
                <span class="label label-default">
                    Rep: <%= question.owner.reputation %>
                </span>
            </span>
        </h3>
    <div class="panel-body">
        <h3 class="panel-title"><%= question.title %></h3>

        <hr>
        <% _.each(question.tags, function (tag) { %>
          <span class="label label-info"><%= tag %></span>
        <% }); %>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">
            <a target="_blank" href="http://stackoverflow.com/questions/<%= question.question_id %>">
                View Question
            </a>
        </h3>
    </div>
</div>
<% }); %>